/* * {
  background-color: rgb(74, 103, 233);
} */

.landing {
  margin-top: 20vh;
  display: flex;
  margin: 20vh;
}
.landing-page {
  height: 100%;
  background-color: rgb(74, 103, 233);
}
.section-one {
  height: 50vh;
  width: 40%;
  background-image: url("landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-two {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 50%;
}

.section-two Button {
  padding: 0.25rem;
  margin: 0.25rem;
}
